.container {
    position: sticky;
    width: 100vw;
    top:0;
    z-index: 12;
    height: 110px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
}
.content {
    width: 100%;
    padding: 0 10vw;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:white;
}
.btn_container {
    flex-grow: 1;
}
.logo {
    position: absolute;
    left:calc(50% - 120px);
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
}
