.container {
    width: calc(100dvw - 4rem);
    display: flex;
    gap:4rem;
    /* overflow-x: hidden; */
    padding: 4rem 1rem;
    margin: 10vh 0;
    color:white;
}
.image {
    border-radius: 16px;
}
.imageContainer {
    min-width: 400px;
    height: 400px;
    position: relative;
}
.imageContainer.labled {
    width: 400px;
    height: 460px;
}
.image_caption {
    font-family: var(--font-header);
    text-transform: uppercase;
    position: absolute;
    top:100%;
}