.container {
    width: calc(100dvw - 4rem);
    display: flex;
    gap:4rem;
    /* overflow-x: hidden; */
    padding: 4rem 1rem;
    margin: 10vh 0;
    color:white;
}
.image {
    border-radius: 16px;
}
.imageContainer {
    min-width: 400px;
    height: 400px;
    position: relative;
}
.imageContainer.labled {
    width: 400px;
    height: 460px;
}
.image_caption {
    font-family: var(--font-header);
    text-transform: uppercase;
    position: absolute;
    top:100%;
}
/* Media queries for smaller breakpoints */
@media (max-width: 1024px) { /* lg breakpoint */
    .imageContainer {
        min-width: 300px;
        height: 300px;
    }
    .imageContainer.labled {
        width: 300px;
        height: 360px;
    }
}

@media (max-width: 768px) { /* md breakpoint */
    .imageContainer {
        min-width: 200px;
        height: 200px;
    }
    .imageContainer.labled {
        width: 200px;
        height: 240px;
    }
    .image_caption {
        font-size: medium;
    }
}

@media (max-width: 480px) { /* sm breakpoint */
    .imageContainer {
        min-width: 150px;
        height: 150px;
    }
    .imageContainer.labled {
        width: 150px;
        height: 180px;
    }
    .image_caption {
        font-size: small;
    }
}