.title {
    font-family: var(--font-header);
    font-size: 2rem;
    color: black;
}
.route_title {
    font-family: var(--font-content);
    font-size: 1.4rem;
    color: black;
}
.container {
    font-family: var(--font-content);
    font-size: 1.4rem;
    border-radius: 8px;
    background-color: whitesmoke;
}
/* .container > * > * > * > *,
.container > * > * > *  {
    outline:1px solid
} */