.title {
    font-family: var(--font-header);
    font-size: 2rem;
    color: black;
}

.route_title {
    font-family: var(--font-content);
    font-size: 1.4rem;
    color: black;
}

.container {
    font-family: var(--font-content);
    font-size: 1.4rem;
    border-radius: 8px;
    background-color: whitesmoke;
    width: min(100dvw, 1200px);
}

.error,
.error * {
    border-color: darkred;
    color: red
}


/* Media queries for smaller breakpoints */

@media (max-width: 1024px) {
    /* lg breakpoint */
}

@media (max-width: 768px) {
    /* md breakpoint */
    .title {
        font-size: large;
    }
}

@media (max-width: 480px) {
    /* sm breakpoint */
    .title {
        font-size: medium;
    }
}