.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(21, 19, 17);
    padding: 4rem 0;
    z-index: 5;
}