.header {
    padding: 30px;
    position: fixed;
    right: 0;
    z-index: 1;
    z-index: 12;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .button {
        z-index: 12;
        width: 80px;
        height: 80px;
        border-radius: 20%;
        background-color: #7d7d8123;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger {
        width: 100%;
        &::after,
        &::before {
            content: "";
            display: block;
            height: 4px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }
        &::after {
            top: -5px;
        }
        &::before {
            top: 5px;
        }
    }
    .burgerActive {
        &::after {
            transform: rotate(45deg);
            top: -4px;
        }
        &::before {
            transform: rotate(-45deg);
            top: 0px;
        }
    }
}


/* Media queries for smaller breakpoints */

@media (max-width: 1024px) {
    /* lg breakpoint */
}

@media (max-width: 768px) {
    /* md breakpoint */
    .header {
        img {
            transform: scale(.8);
        }
    }
}

@media (max-width: 480px) {
    /* sm breakpoint */
    .header {
        img {
            transform: scale(.7);
        }
    }
}