.container {
    position: relative;
    width: 320px;
    height: 320px;
    padding: 0 8px;
    & .name {
        color: whitesmoke;
        z-index: 2;
        margin-bottom: 24px;
        font-size: 24px;
        font-family: var(--font-content);
    }
    & .text {
        margin-top: 24px;
        color: white;
        z-index: 2;
        font-size: 18px;
        font-family: var(--font-content);
    }
    & .image {
        width: 100%!important;
        height: 100%!important;
        z-index: 0;
    }
    & .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%!important;
        z-index: 1;
        background: rgba(0, 0, 0, .5);
    }
}