.container {
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap:2rem;
    width: 100%;
    min-height: 80vh;

}
.content {
    display: flex;
    height: 60vh;
    color: white;
    margin: 20vh 0;
}
.content > div:first-child{
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
.content > div {
    width: 50%;
    align-items: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub_title,
.title {
}
.title {
    text-align: left;
    max-width: 520px;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: var(--font-header);
}
.text {
    font-family: var(--font-content);
    padding: auto 0;
    display: block;
    font-weight: 400;
    padding-left: 2rem;
    text-align: left;
    max-width: 40vw;
}