.container {
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap:2rem;
    width: 100%;
    min-height: 80vh;
}
.content {
    display: flex;
    color: white;
}
.content_title {
}
.content > div:first-child{
    /* border-right: 2px solid rgba(255, 255, 255, 0.2); */
}
.content > div {
    align-items: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub_title,
.title {
}
.title {
    text-align: left;
    max-width: 520px;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: var(--font-header);
}
.text {
    font-family: var(--font-content);
    display: block;
    font-weight: 400;
    text-align: left;
}