.container {
    min-height: 100dvh;
    max-height: 100dvh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &>video {}
}

.title_container {
    z-index: 10;
    color: white;
    text-align: center;
    max-width: 800px;
}

.title {
    font-size: 64px;
    font-weight: 400;
    line-height: 95%;
    letter-spacing: 3px;
    font-family: var(--font-header);
    opacity: .8;
}

.sub_title {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-content);
    opacity: .6;
}

.image {
    object-fit: cover;
    width: 100% !important;
    position: absolute;
    height: 100% !important;
    object-position: center top;
    z-index: 0;
    display: block;
    &::after {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.button {
    position: absolute;
    bottom: 60px;
    left: calc(100% - 270px);
    background: whitesmoke;
    color: #151311;
    font-weight: 600;
    border-color: transparent;
    font-size: 1rem;
}

.shake {
    cursor: pointer;
    z-index: 12;
    animation: shake 2s infinite;
    color: white;
    position: absolute;
    top: 90%;
    left: calc(50% - 20px);
    &:hover {
        cursor: pointer;
    }
}

.video {
    width: 100%;
    height: 100vh;
    --media-object-fit: cover;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-2px);
    }
    20% {
        transform: translateY(2px);
    }
    30% {
        transform: translateY(-2px);
    }
    40% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}


/* Media queries for smaller breakpoints */

@media (min-width: 1025px) {
    /* xl breakpoint */
}

@media (max-width: 1024px) {
    /* lg breakpoint */
    .title {
        font-size: 52px;
    }
}

@media (max-width: 768px) {
    /* md breakpoint */
    .title {
        font-size: 48px;
    }
    .sub_title {
        line-height: 100%;
    }
}

@media (max-width: 480px) {
    /* sm breakpoint */
    .title {
        font-size: 36px;
    }
}